<!DOCTYPE html>

<html>
	<head>
		<title>Sample BeeGo-MGO Web Service</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/static/css/style.css" media="all" rel="stylesheet" type="text/css" />
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/static/js/service.js"></script>
		<script src="/static/js/index.js"></script>
	</head>

	<body>
		<header class="hero-unit" style="background-color:#A9F16C">
			<div class="container">
				<div class="row">
					<div class="hero-text">
						<h1>Welcome to BeeGo-MGO</h1>
						<div class="subtitle">
							Sample BeeGo-MGO Sample Web Service To Get Projects Started Quickly
						</div>
						<p class="description">
							William Kennedy - Ardan Studios<br />
							Contact me: <a href="mailto:{{.Email}}">{{.Email}}</a>
							<p><a href="/region-show/Gulf%20Of%20Mexico">Show A View Of Stations</a></p>
							<p><a href="/station/42002">Show A JSON Response For A Station</a></p>
							<p><a href="/region/Gulf%20Of%20Mexico">Show A JSON Response For Regions</a></p>
							<p><a href="/region/Gulf%20Of%20Mexico">Show A JSON Response For Regions</a></p>
							<p><input id="testajax" class="button" type="button" value="Test Ajax"/></p>
						</p>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>
